* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    padding: 10px;
    background-color: darkviolet;
    color: white;
    position: sticky;
    top: 0%;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_list {
    list-style-type: none;
    display: flex;
}

.menu_link {
    color: white;
    padding: 15px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 300px;
    text-align: center;

    border: solid 3px darkmagenta;
    border-radius: 5px;
    margin: 10px;
    padding-top: 10px;
}

.card-img{
    width: 100%;
} 

.card-img-3 {
    width: 50%;
    object-fit: cover;
}